
<div class="center">
  <h1>Stupid coaching</h1>
  <form action="/answer">
    <input type="text" name="question" class="form-input">
    <input type="submit" value="Ask!" class="form-button">
  </form>
</div>
